<app-page-title [heading]="heading" [icon]="icon" [subheading]="subheading"></app-page-title>
<p-toast position="bottom-right"></p-toast>
<app-loader [transactionLoading]="transactionLoadingStatus"></app-loader>

<div class="p-d-flex">
<div class="row">
    <div class="col-md-12">
        <div class="main-card mb-3 card card-body">
            <div class="card-header">STK Transactions</div>
            <div class="card-body">
                <p-table #dt
                         [globalFilterFields]="['accountReference','transactionDate', 'checkoutRequestId', 'subscriptionPlan','resultDescription','serviceType']"
                         [loading]="loading"
                         [paginator]="true"
                         [rowsPerPageOptions]="[10,15,20,30]"
                         [rows]="10"
                         [showCurrentPageReport]="true" [totalRecords]="totalRecords"
                         [value]="datasource"
                         currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" dataKey="id"
                         styleClass="p-datatable-sm p-datatable-gridlines p-datatable-striped p-datatable-responsive-demo">
                    <ng-template pTemplate="caption">
                        <div style="text-align: right">
                            <button class="pi pi-search" pButton pRipple label="Search" style="margin:4px 4px 0 0"></button>
                            <input (input)="dt.filterGlobal($event.target.value, 'contains')" pInputText
                                   placeholder="Global Filter" size="50" style="width:auto"
                                   type="text">
                        </div>

                    </ng-template>

                    <ng-template let-datasource pTemplate="header">
                        <tr>
                            <th>PHONE NUMBER</th>
                            <th>ACCOUNT NO</th>
                            <th>REQUEST ID</th>
                            <th>DATE</th>
                            <th>PLAN</th>
                            <th>DESC</th>
                            <th>PACKAGE TYPE</th>
                            <th>CREATED</th>
                            <th>ACTIONS</th>
                        </tr>

                    </ng-template>
                    <ng-template pTemplate="caption">
                        <div style="text-align: left">
                            <div class="row">
                                <div class="col-md-6">
                                    <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                                    <input (input)="dt.filterGlobal($event.target.value, 'contains')"
                                           class="p-inputtext-sm" pInputText placeholder="Global Filter"
                                           size="50"
                                           style="width:auto"
                                           type="text">
                                </div>
                                <div class="col-md-6" style="text-align: right">
                                    <button (click)="openNew()" class="p-button-success p-mr-2" icon="pi pi-plus" label="STK PUSH"
                                            pButton pRipple></button>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template let-data pTemplate="body">
                        <tr >
                            <td>{{data.msisdn}}</td>
                            <td>{{data.accountReference}}</td>
                            <td>{{data.checkoutRequestId}}</td>
                            <td>{{data.transactionDate}}</td>
                            <td>{{data.subscriptionPlan}}</td>
                            <td [ngClass]="{'positive' : data.resultCode == 0 ,'neutral' : data.resultCode == null,'negative' : data.resultCode > 1}">{{data.resultDescription}}</td>
                            <td>{{data.serviceType}}</td>
                            <td>{{data.createdAt}}</td>
                            <td style="text-align: center">
                                <button pButton pRipple type="button" icon="pi pi-refresh" (click)="updateTransactionStatus(data.checkoutRequestId)" class="p-button-rounded p-button-info p-button-outlined"></button>&nbsp;
                                <button pButton pRipple type="button" icon="pi pi-check" class="p-button-rounded p-button-success p-button-outlined"></button>&nbsp;
                                <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger p-button-outlined"></button>

                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>

<p-dialog [(visible)]="clientDialog" [style]="{width: '450px'}" [contentStyle]="{'overflow':'visible'}" header="Create STK Request" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-button *ngIf="submitted && errorOnCreation" label="{{errorMessage}}" icon="pi pi-exclamation-triangle" styleClass="p-button-danger"></p-button>
        <div class="p-field input-group-sm">
            <label for="fullName">Full Name</label>
            <input oninput="this.value = this.value.toUpperCase()" type="text" pInputText id="fullName" placeholder="eg. John Doe" [(ngModel)]="requestModel.fullName" required autofocus />
            <small class="p-error" *ngIf="submitted && !requestModel.fullName">Name is required.</small>
        </div>

        <div class="p-field input-group-sm">
            <label for="customerPhoneNumber">Phone Number</label>
            <input type="text" pInputText id="customerPhoneNumber" [(ngModel)]="requestModel.customerPhoneNumber" placeholder="eg. 254724XXXXX" required autofocus />
            <small class="p-error" *ngIf="submitted && !requestModel.customerPhoneNumber">Phone Number is required.</small>
        </div>

        <div class="p-field input-group-sm">
            <label for="accountReference">Account Ref</label>
            <input type="text" pInputText id="accountReference" [(ngModel)]="requestModel.accountReference" placeholder="eg. VUKA009" required autofocus />
            <small class="p-error" *ngIf="submitted && !requestModel.accountReference">Account Ref is required. ie VUKA001</small>
        </div>
        <div class="p-field input-group-sm">
            <label for="serviceCode">Product Code</label>
            <p-autoComplete id="serviceCode" [minLength]="0" [(ngModel)]="subscriptionData.serviceCode" [suggestions]="filteredPackages" (completeMethod)="searchServicePackage($event)" (onSelect)="getSelectedPlan($event)" (onClear)="activateEmpty()" [dropdown]="true" required autofocus></p-autoComplete>
            <small class="p-error" *ngIf="submitted && !subscriptionData.serviceCode">Package Code is required.</small>
        </div>
        <div class="p-field input-group-sm">
            <label for="payableAmount">Payable Amount</label>
            <p-inputNumber type="number" [disabled]="true" pInputText id="payableAmount" [(ngModel)]="requestModel.payableAmount" placeholder="eg. 90,0000" mode="currency" currency="KES" locale="en-KE" required autofocus></p-inputNumber>
            <small class="p-error" *ngIf="submitted && !requestModel.payableAmount">Amount Payable is required. ie 90,000</small>
        </div>

        <div class="p-field">
            <label for="subscriptionPlan">Subscription Plan</label>
            <p-dropdown [(ngModel)]="requestModel.subscriptionPlan" inputId="subscriptionPlan" id="subscriptionPlan" [options]="subscriptionPlan" required autofocus placeholder="Select Plan">
                <ng-template let-option pTemplate="item">
                    <span  [class]="'product-badge status-' + option.value">{{option.label}}</span>
                </ng-template>
            </p-dropdown>
        </div>

        <div class="p-field">
            <label for="serviceType">Service Type</label>
            <p-dropdown [(ngModel)]="requestModel.serviceType" inputId="serviceType" id="serviceType" [options]="serviceType" placeholder="Select Service Type">
                <ng-template let-option pTemplate="item">
                    <span [class]="'product-badge status-' + option.value">{{option.label}}</span>
                </ng-template>
            </p-dropdown>
        </div>

        <div class="p-field">
            <label for="description">Description</label>
            <input oninput="this.value = this.value.toUpperCase()" type="text" pInputText id="description" [(ngModel)]="requestModel.description" placeholder="Description" required autofocus />
            <small class="p-error" *ngIf="submitted && !requestModel.description">Description is required.</small>
        </div>
        <div class="p-field">
            <label for="transactionType">Transaction Type</label>
            <p-dropdown [(ngModel)]="requestModel.transactionType" inputId="transactionType" id="transactionType" [options]="paymentTypes" placeholder="Select Payment Type">
                <ng-template let-option pTemplate="item">
                    <span [class]="'product-badge status-' + option.value">{{option.label}}</span>
                </ng-template>
            </p-dropdown>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Request" icon="pi pi-check" class="p-button-text" (click)="requestStkPush()"></button>
    </ng-template>
</p-dialog>

<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
</div>
