<app-page-title [heading]="heading" [icon]="icon" [subheading]="subheading"></app-page-title>
<app-loader [transactionLoading]="transactionLoadingStatus"></app-loader>
<p-toast position="bottom-right"></p-toast>
<div class="row">
    <div class="col-md-12">
        <div class="main-card mb-3 card card-body">
            <div class="card-header">Subscriptions</div>
            <div class="card-body">

                <p-table #dt  [customSort]="true"
                         [globalFilterFields]="['clientAccount.accountName','servicePackage.price','servicePackage.name','clientAccount.serviceType','subscriptionPlan','clientAccount.accountNumber']"
                         [paginator]="true"
                         [rowsPerPageOptions]="[10,15,20,30]"
                         [rows]="10"
                         [showCurrentPageReport]="true" [totalRecords]="totalRecords"
                         [value]="datasource" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" dataKey="id"
                         styleClass="p-datatable-sm p-datatable-gridlines p-datatable-striped p-datatable-responsive-demo">
                    <ng-template pTemplate="caption">
                        <div style="text-align: right">
                            <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                            <input (input)="dt.filterGlobal($event.target.value, 'contains')" pInputText placeholder="Global Filter" size="50" style="width:auto"
                                   type="text">
                        </div>
                    </ng-template>
                    <ng-template let-datasource pTemplate="header">
                        <tr>
                            <th>ID</th>
                            <th>PLAN</th>
                            <th>ACC NO</th>
                            <th>ACC NAME</th>
                            <th>PACKAGE</th>
                            <th>SERVICE TYPE</th>
                            <th>CREATED</th>
                            <th>ACTIONS</th>
                        </tr>

                    </ng-template>
                    <ng-template pTemplate="caption">
                        <div style="text-align: left">
                            <div class="row">
                                <div class="col-md-6">
                                    <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                                    <input (input)="dt.filterGlobal($event.target.value, 'contains')" class="p-inputtext-sm" pInputText placeholder="Global Filter"
                                           size="50"
                                           style="width:auto"
                                           type="text">
                                </div>
                                <div class="col-md-6" style="text-align: right">
                                    <button class="p-button-success p-mr-2" icon="pi pi-plus" label="New" pButton
                                            pRipple (click)="openNew()"></button>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template let-data pTemplate="body">
                        <tr>
                            <td>{{data.id}}</td>
                            <td>{{data.subscriptionPlan}}</td>
                            <td>{{data.clientAccount.accountNumber}}</td>
                            <td>{{data.clientAccount.accountName}}</td>
                            <td>{{data.servicePackage.name}}</td>
                            <td>{{data.clientAccount.serviceType}}</td>
                            <td>{{data.createdAt}}</td>
                            <td style="text-align: center">
                                <i class="fa fa-edit" style="margin:4px 4px 0 0"></i>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>

            </div>
        </div>
    </div>
</div>

<p-dialog [(visible)]="subscriptionDialog" [contentStyle]="{'overflow':'visible'}" [style]="{width: '450px'}" header="New Subscription" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <small class="p-error" *ngIf="submitted && errorOnCreation">{{errorMessage}}</small>
        <small class="p-error" *ngIf="findError">{{findErrorMessage}}</small>
        <div class="p-field input-group-sm">
            <label for="accountNumber">Account Number</label>
            <p-autoComplete id="accountNumber" [(ngModel)]="subscriptionData.accountNumber" [minLength]="2" [suggestions]="filteredClients" (completeMethod)="searchClientAccount($event)" [dropdown]="true" required autofocus></p-autoComplete>
            <small class="p-error" *ngIf="submitted && !subscriptionData.accountNumber">Account Number is required.</small>
        </div>
        <div class="p-field">
            <label for="subscriptionPlan">Subscription Plan</label>
            <p-dropdown [disabled]="findError" [(ngModel)]="subscriptionData.subscriptionPlan" inputId="subscriptionPlan" id="subscriptionPlan" [options]="subscriptionPlan" required autofocus placeholder="Select">
                <ng-template let-option pTemplate="item">
                    <span  [class]="'product-badge status-' + option.value">{{option.label}}</span>
                </ng-template>
            </p-dropdown>
        </div>
        <div class="p-field">
            <label for="serviceCode">Package Code</label>
            <p-autoComplete id="serviceCode" [minLength]="2" [(ngModel)]="subscriptionData.serviceCode" [suggestions]="filteredPackages" (completeMethod)="searchServicePackage($event)" [dropdown]="true" required autofocus></p-autoComplete>
            <small class="p-error" *ngIf="submitted && !subscriptionData.serviceCode">Package Code is required.</small>
        </div>

    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" *ngIf="!findError" (click)="saveSubscription()"></button>
    </ng-template>
</p-dialog>

<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>

