
<app-page-title [heading]="heading" [icon]="icon" [subheading]="subheading"></app-page-title>
<p-toast position="bottom-right"></p-toast>
<div class="row">
    <div class="col-md-12">
        <div class="main-card mb-3 card card-body">
            <div class="card-header">Balances</div>
            <div class="card-body">

                <p-table #dt
                         [globalFilterFields]="['balance','serviceType','accountNumber']"
                         [paginator]="true"
                         [rowsPerPageOptions]="[10,15,20,30]"
                         [rows]="10"
                         [showCurrentPageReport]="true" [totalRecords]="totalRecords"
                         [value]="datasource" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" dataKey="id"
                         styleClass="p-datatable-sm p-datatable-gridlines p-datatable-striped p-datatable-responsive-demo">
                    <ng-template pTemplate="caption">
                        <div style="text-align: right">
                            <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                            <input (input)="dt.filterGlobal($event.target.value, 'contains')" pInputText placeholder="Global Filter" size="50" style="width:auto"
                                   type="text">
                        </div>
                    </ng-template>
                    <ng-template let-datasource pTemplate="header">
                        <tr>
                            <th>ID</th>
                            <th>SERVICE TYPE</th>
                            <th>BALANCE</th>
                            <th>CREATED</th>
                            <th>UPDATED</th>
                            <th>ACTIONS</th>
                        </tr>

                    </ng-template>
                    <ng-template pTemplate="caption">
                        <div style="text-align: left">
                            <div class="row">
                                <div class="col-md-6">
                                    <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                                    <input (input)="dt.filterGlobal($event.target.value, 'contains')" class="p-inputtext-sm" pInputText placeholder="Global Filter"
                                           size="50"
                                           style="width:auto"
                                           type="text">
                                </div>
                                <div class="col-md-6" style="text-align: right">
                                    <button class="p-button-success p-mr-2" icon="pi pi-plus" label="New" pButton
                                            pRipple (click)="openNew()"></button>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template let-data pTemplate="body">
                        <tr>
                            <td>{{data.id}}</td>
                            <td>{{data.serviceType}}</td>
                            <td style="text-align: right"> {{ data.balance | currency:'Ksh. '}}</td>
                            <td>{{data.createdAt}}</td>
                            <td>{{data.updatedAt}}</td>
                            <td style="text-align: center">
                                <button pButton pRipple type="button" icon="pi pi-external-link"  class="p-button-rounded p-button-success p-button-outlined"></button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>

<p-dialog [(visible)]="walletDialog"  [style]="{width: '450px'}"  [contentStyle]="{'overflow':'visible'}" header="New Wallet" [modal]="true" styleClass="p-fluid">
    <p-button label="{{selectedClient}}" icon="pi pi-user" styleClass="p-button-{{userSelectionBadge}}"></p-button>
    <ng-template pTemplate="content">
        <small class="p-error" *ngIf="submitted && errorOnCreation">{{errorMessage}}</small>
        <small class="p-error" *ngIf="findError">{{findErrorMessage}}</small>
        <div class="p-field ">
            <label for="accountNumber">Account Number</label>
            <p-autoComplete id="accountNumber" [(ngModel)]="walletData.accountNumber" [minLength]="2" [suggestions]="filteredClients" (completeMethod)="searchClientAccount($event)" (onSelect)="getClientAccount($event)" (onClear)="activateEmpty()"  [dropdown]="true" required autofocus></p-autoComplete>
            <small class="p-error" *ngIf="submitted && !walletData.balance">Account number is required.</small>
        </div>
        <div class="p-field">
            <label for="serviceType">Service Type</label>
            <p-dropdown [disabled]="checkAccountNumber" [(ngModel)]="walletData.serviceType"  inputId="serviceType" id="serviceType" [options]="serviceType" placeholder="Select">
                <ng-template let-option pTemplate="item">
                    <span [class]="'product-badge status-' + option.value">{{option.label}}</span>
                </ng-template>
            </p-dropdown>
        </div>

        <div class="p-field ">
            <label for="balance">Balance</label>
            <p-inputNumber id="balance" required autofocus [(ngModel)]="walletData.balance" mode="currency" currency="KES" locale="en-KE"></p-inputNumber>
            <small class="p-error" *ngIf="submitted && !walletData.balance">Balance is required.</small>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"  (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" *ngIf="!findError" (click)="saveWallet()"></button>
    </ng-template>
</p-dialog>

<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>

